/*----------------------------------*
  #CSSGRID
 *----------------------------------*/

 @media screen and (min-width: 768px) { // TODO sort out beest breakpoints—perhaps use MQ

  /* no grid support? */
  .o-sidebar {
    float: left;
    width: 33.3333%;
  }

  .o-content {
    float: right;
    width: 66.6666%;
  }

  .o-wrapper {
    grid-template-columns: 1fr 2fr; // TODO goes in @supports below?
  }
  
  .o-header, .o-footer {
    grid-column: 1 / -1;
    /* needed for the floated layout */
    clear: both; // 
  }

}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .o-wrapper-grid > * {
    width: auto;
    margin: 0;
  }
}