figure {
    display: block;
    position: relative;
    overflow: hidden
}

figcaption {
    position: absolute
}

figcaption {
    font-weight: 400;
    font-size: .75em;
    background: #333;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    padding: 20px;
    width: 100%;
    opacity: 0;
    left: 0;
    bottom: -30%;
    transition: all .6s ease
}

.c-imagebox--caption a,
.contact-email,
.label.services a {
    transition: all .25s ease;
}


.c-imagebox--caption a,
.contact-email,
.label.services a,
.side-nav li a {
    transition: all .25s ease;
}

.contact-button {
    margin: 3.5em 0;
}

.contact-email {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    padding: 1em 1.25em;
    // background-color: #999;
    background-color: $slate-gray;
    -border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    transition: all .25s ease;
}

.contact-email:hover {
    color: #fff;
    background-color: $content-link;
}

.contact-email:focus {
    color: #fff;
    background-color: #333;
}

p.copyright {
    font-size: .9em;
    color: #999;
    margin-bottom: 0;
    max-width: 120ch;
}

p.copyright a {
    color: #999;
    font-weight: 400
}

p.copyright a:hover {
    color: #000;
    font-weight: 400 !important
}

a.codedirection {
    unicode-bidi: bidi-override;
    direction: rtl
}

@media (max-width:480px) {


    p.tagline {
        font-size: 1em !important;
    }

    .contact-email {
        display: block;
        width: 100% !important
    }

    .contact-button {
        text-align: center;
        margin: 0 0 1.5em
    }

}

@media (max-width:767px) {

    p.tagline {
        font-size: .75em
    }

    #topbar {
        margin: 0 0 5px
    }

    .overview {
        display: table
    }

}

@media only screen and (max-width:767px) {

    #content {
        min-height: 50em
    }
}

 