.case-caption a,
.contact-email,
.label.services a,
.side-nav li a {
    transition: all .25s ease;
}

div.panel h5,
.overview-main h5 {
    font-weight: 700;
    font-size: 1.25em;
    font-family: $display-font;
    text-transform: none;
}

div.panel h5 {
    color: $slate-gray;
    margin-top: 0.375em !important; // TODO refactor
}

div.panel p:last-child {
    margin-bottom: 0.375em !important; // TODO refactor
}

.overview-main h5 {
    text-transform: uppercase;
    margin-top: 1.5em;
    color: $main-text-color;
}

figure {
    display: block;
    position: relative;
    overflow: hidden
}

figcaption {
    position: absolute
}

figcaption {
    font-weight: 400;
    font-size: .75em;
    background: #333;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    padding: 20px;
    width: 100%;
    opacity: 0;
    left: 0;
    bottom: -30%;
    transition: all .6s ease
}

.case-caption a,
.contact-email,
.label.services a {
    transition: all .25s ease;
}

figure:hover figcaption {
    opacity: 1;
    bottom: 0
}


.label.services a,
ul.services a {
    color: #999 !important;
    border-bottom: dotted 1px #999;
}

.overview-sidebar ul li {
    font-size: 1em;
    margin-left: 0;
    line-height: 1.8;
    list-style-type: disc;
}

.overview-sidebar ul > ul li {
    list-style-type: circle;
}

#content p.case-caption {
    margin-top: -1em;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 2.5em;

    span.hide-for-small {
        display: inline !important;
    }
}

@media only screen and (max-width: 480px) {
    #content p.case-caption span.hide-for-small {
        display: none !important;
    }
}

#content p.case-caption-video {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 2.5em;

    @media only screen and (min-width: 768px) {
        margin-top: -0.75em;
    }
}

#content p.case-caption-video+p {
    margin-top: -1.75em;
}


#content p.case-caption a {
    font-weight: 400;
    color: $content-link;
    transition: all .25s ease;

    &:visited {
        color: $dark-text-color;
    }

    &:hover {
        color: #fff;
    }
}

p.tagline {
    font-weight: 700
}

.overview-sidebar .panel {
    background-color: tint($slate-gray, 90);
    border: 1px solid tint($slate-gray, 70);
    margin: 5px 0 22px;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

.panel {
    background: #F2F2F2;
    border: 1px solid #E6E6E6;
    margin: 1.5em 0 1.5em;
    padding: 1em 1.5em 0.5em;
}

ol.services,
ul.services {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 3px;
    list-style-position: outside;
    margin-left: 17px
}

ul.services>ol,
ul.services>ul {
    margin-left: 17px;
    margin-bottom: 0 !important;
    list-style-position: outside
}

.label.services {
    display: inline-block;
    margin-top: 17px;
    padding: 4px;
    font-family: inherit;
    background-color: #fafafa;
    color: #999
}

ul.services a {
    font-weight: 400
}

.label.services a {
    transition: all .25s ease
}

.label.services a:hover {
    color: #333 !important;
    border-bottom: dotted 1px #333;
}

.contact-button {
    margin: 3.5em 0;
}

.contact-email {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    padding: 1em 1.25em;
    // background-color: #999;
    background-color: $slate-gray;
    -border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    transition: all .25s ease;
}

.contact-email:hover {
    color: #fff;
    background-color: $content-link;
}

.contact-email:focus {
    color: #fff;
    background-color: #333;
}

p.copyright {
    font-size: .9em;
    color: #999;
    margin-bottom: 0;
    max-width: 120ch;
}

p.copyright a {
    color: #999;
    font-weight: 400
}

p.copyright a:hover {
    color: #000;
    font-weight: 400 !important
}

a.codedirection {
    unicode-bidi: bidi-override;
    direction: rtl
}

@media (max-width:480px) {
    p.intro {
        font-size: 1.25em !important
    }

    p.tagline {
        font-size: 1em !important;
    }

    .contact-email {
        display: block;
        width: 100% !important
    }

    .contact-button {
        text-align: center;
        margin: 0 0 1.5em
    }

}

@media (max-width:767px) {

    p.tagline {
        font-size: .75em
    }

    p.intro {
        margin: 1.5em 0
    }

    #topbar {
        margin: 0 0 5px
    }

    .overview {
        display: table
    }

}

@media only screen and (min-width:768px) {

    .overview-sidebar {
        float: right;
        width: 45%;
        width: auto;
        padding-left: 2em
    }
}

@media only screen and (max-width:767px) {

    #content {
        min-height: 50em
    }
}

.reveal-modal img {
    margin: 2em 0;
}

.video-wrapper {
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    margin-bottom: 2em;

    @media only screen and (min-width: 768px) {
        position: relative;
        padding-top: 21px;
    }
}

.video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;

    @media only screen and (min-width: 768px) {
        top: 0;
        left: 0;
    }

    @media only screen and (max-width:767px) {
        width: 92%;
        left: 4%;
        height: 54.25vw;
        margin-bottom: 2em;
    }
}

.activities-label {
    font-size: 0.825em;
    text-transform: uppercase;

}

.bottom-tab-nav-next,
.bottom-tab-nav-prev {
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.25em;
}

.bottom-tab-nav-next a:focus,
.bottom-tab-nav-prev a:focus {
    color: $content-link;
}

.bottom-tab-nav-next {
    @media only screen and (min-width: 768px) {
        display: inline-block;
        float: right;
    }

    text-align: right;
}

.bottom-tab-nav-prev {
    @media only screen and (min-width: 768px) {
        display: inline-block;
        float: left;
    }

    text-align: left;
}


// widescreen layout
@media only screen and (min-width: 1024px) {

    figcaption {
        font-weight: 400;
        font-size: .875em; //.75em
        background: rgba(0, 0, 0, 0.875);
        color: #fff;
        padding: 20px;
        width: 100%;
        opacity: 0;
        left: 0;
        bottom: -30%;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        -o-transition: all .6s ease;
    }

}

.svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;

    svg {
        fill: currentColor;
        width: 1em;
        height: 1em;
    }
}

body.noscroll {
    overflow: hidden;
}

// lazyloads

.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
	opacity: 1;
    // transition: opacity 300ms;
    transition: opacity 1s;
}