figure {
    display: block;
    position: relative;
    overflow: hidden
}

figcaption {
    position: absolute
}

figcaption {
    font-weight: 400;
    font-size: .75em;
    background: #333;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    padding: 20px;
    width: 100%;
    opacity: 0;
    left: 0;
    bottom: -30%;
    transition: all .6s ease
}


a.codedirection {
    unicode-bidi: bidi-override;
    direction: rtl
}

@media only screen and (max-width:767px) {
    #content {
        min-height: 50em
    }
}

 