// variables.scss

// Text 
$light-text-color: #f2f2f2;
$main-text-color: #777;
$dark-text-color: #222;
// Backgrounds
$main-bg-color: #fefefe;
$secondary-bg-color: $light-text-color;
$medium-bg-color: lighten($main-text-color, 50%);
$dark-bg-color: lighten($dark-text-color, 10%);
// Border
$main-border-color: #E6E6E6;
$tabs-border-color: #ccc;
// Brand Color
$cjd-branding: #4d8bdc;
$content-link: $cjd-branding;
// Shapes
$arrow-size: 12px;
//
$navwidth: 20em;
$dark-brand-bg: #4c5f77;

// link hover color #78a7e4
$slate-gray: #545860;


// -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$text-font: 'Inter UI', sans-serif;
// $display-font: 'Noto Sans', sans-serif;
$display-font: $text-font;

@import url('https://rsms.me/inter/inter-ui.css');

// @import url("https://use.typekit.net/xzv8mbf.css");

// @mixin type-text {
//   font-family: "ff-meta-web-pro";
//   font-weight: 400;
//   letter-spacing: -0.05em;
// }
// // @include type-text;

// @mixin type-display {
//   font-family: "ff-meta-web-pro";
//   font-weight: 600;
//   letter-spacing: -0.1em;
// }
