RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Comment out for MAMP 
# TODO figure out solution that works across all servers
# AddHandler php5-script .php
