RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# RewriteRule ^journal/(.*)$ blog/journal/$1 [L]
# RewriteRule ^notes/(.*)$ blog/notes/$1 [L]
# RewriteRule ^panel/(.*)$ blog/panel/$1 [L]
# RedirectMatch ^/blog/$ /journal/

# RewriteRule ^journal blog/journal [L]
# RewriteRule ^notes blog/notes [L]
# RewriteRule ^panel blog/panel [L]

# BEGIN (mt) controlled settings
AddHandler php-latest .php
# END (mt) controlled settings
