/*----------------------------------*
  #FOOTER
 *----------------------------------*/

/**
* Standard footer
*/

.c-footer {
  // border-top: 1px solid #dadada;
  background-color: $secondary-bg-color;
  padding: $global-spacing-unit;
}

.c-footer__body {
  @include font-size(12px, 18px);
  color: #999;
  color: tint($dark-text-color, 37.5);
  margin-bottom: 0;
  a {
    color: #999;
    color: tint($dark-text-color, 20);
    &:hover {
      color: $cjd-branding;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    @include font-size(10px, 15px);
  }
}
