/*----------------------------------*
  #LINK-TOP
 *----------------------------------*/

/**
* Link-link--to-top mini component
*/

// WIP

.link--to-top {
  @include font-size(12px);
  font-weight: 700;
  color: $primary-link-color;
  &:before {
    content: '↑';
    margin-right: 0.25em;
  }
  &:after {
    content: '';
    padding: 0 1px;
  }
  &:visited {
    color: $primary-link-color;
  }
  &:hover,
  &:focus {
    color: $dark-text-color;
    cursor: pointer;
    // background-color: $cjd-branding;
  }
}
