/*----------------------------------*
  #PAGE
 *----------------------------------*/

/**
* Standard page organism
*/

// Duplicates `page-project.scss` instance 
.c-page {
  @media screen and (min-width: 768px) {
    margin-bottom: $global-spacing-unit-lg;
  }
}

.c-page__site-title {
  @include hidden-visually;
}

// Duplicates `page-project.scss` instance 
.c-page__title {
  color: $dark-text-color;
  font-weight: 400;
  letter-spacing: -0.019em;

  &.animate {
    transition: opacity .8s ease .3s; // nice feel!
    //transform: scale(.8);
    opacity: 0;

    &.inview {
      //transform: scale(1);
      opacity: 1;
    }
  }
  @media only screen and (max-width: 480px) {
    line-height: initial;
  }
}

// Duplicates `page-project.scss` instance 
.c-page h3 {
  color: $dark-text-color;
  font-weight: 400;
  letter-spacing: -0.019em; // 24px
}

// Duplicates `page-project.scss` instance 
.c-page h4 {
  color: $dark-text-color;
  font-weight: 600;
  letter-spacing: -0.017em; // 20px
}

// Duplicates `page-project.scss` instance 
.c-page h5 {
  // WIP
  //color: $dark-text-color;
  @include font-size(16px);
  //font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.014em; // 20px
}

// Duplicates `page-project.scss` instance 
.c-page__body {
  max-width: 600px; // TODO
}


// Duplicates `page-project.scss` instance 
.c-page p,
.c-page ul,
.c-page ol {
  // @include font-size(18px, 32px);
  // line-height: 32px; // WIP
  font-weight: 400;
  letter-spacing: -0.011em;
}

.c-page p + ol,
.c-page p + ul {
    margin-top: -$global-spacing-unit;
}

.c-page__intro {
  &.animate {
    transition: opacity 1.5s ease .3s; // nice feel!
    opacity: 0;

    &.inview {
      opacity: 1;
    }
  }
}


// Page-spcific Imagebox margins
.c-page {
  .c-imagebox:first-child {
    margin-bottom: $global-spacing-unit-lg;
  }
  .c-imagebox {
    margin-bottom: $global-spacing-unit;
  }
}