/*----------------------------------*
  #PROJECT-PAGE
 *----------------------------------*/

/**
* Standard project page organism
*/
.c-project {
  @media screen and (min-width: 768px) {
    margin-bottom: $global-spacing-unit-lg;
  }
}

.c-project__title {
  color: $dark-text-color;
  font-weight: 400;
  letter-spacing: -0.019em;
  margin-top: 1.375em; // TODO move this to the imagebox or header to it's not locked to title

  &.animate {
    transition: opacity 0.8s ease 0.3s; // nice feel!
    //transform: scale(.8);
    opacity: 0;

    &.inview {
      //transform: scale(1);
      opacity: 1;
    }
  }
  @media only screen and (max-width: 480px) {
    line-height: initial;
  }
}

// Project headings

// .c-project h2 {
//   color: $dark-text-color;
//   font-weight: 400;
//   letter-spacing: -0.019em; // 24px
// }

.c-project h2 {
  color: $dark-text-color;
  @include font-size(20px, 32px);
  font-weight: 600;
  letter-spacing: -0.017em; // 20px
  border-bottom: 3px solid $heading-border-color;
  display: inline-block;
  padding-bottom: 0.175em;
  margin-bottom: 1.275em;
}

.c-project h3 {
  // WIP
  color: $dark-text-color;
  @include font-size(16px, 32px);
  font-weight: 700;
  //text-transform: uppercase;
  letter-spacing: -0.014em; // 20px
  + p {
    margin-top: -1.5em;
  }
}

.c-project h4 {
  // WIP
  color: $dark-text-color;
  @include font-size(16px, 32px);
  font-weight: 400;
  //text-transform: uppercase;
  letter-spacing: -0.014em; // 20px
  text-decoration: underline;
}

.c-project__body {
  max-width: 600px; // TODO
}

.c-project p,
.c-project ul,
.c-project ol {
  // @include font-size(18px, 32px);
  // line-height: 32px; // WIP
  font-weight: 400;
  letter-spacing: -0.011em;
}

.c-project p + ol,
.c-project p + ul {
  margin-top: -$global-spacing-unit;
}

.c-project__intro {
  &.animate {
    transition: opacity 1.5s ease 0.3s; // nice feel!
    opacity: 0;

    &.inview {
      opacity: 1;
    }
  }
}

// Page-spcific Imagebox margins

.c-project {
  .c-imagebox--hero {
    margin-bottom: $global-spacing-unit-lg;
  }
  .c-imagebox {
    margin-bottom: $global-spacing-unit;
  }
}
// TODO better namespacing and specificity needed so this can live independently
.c-project .c-imagebox__caption {
  @media only screen and (max-width: 480px) {
    line-height: initial;
  }
}

// Project Tabs Styles - WIP

.c-project {
  // TODO refactor and create usage-specific header classes!
  h4 {
    margin-top: 2em;
  }
  h4:first-child {
    margin-top: 0;
  }

  .o-tabs {
    border-bottom: none;
    height: auto;
    width: 100%;
    margin: 1em auto;
  }

  .o-tabs .o-tabs__tab-title {
    color: #b3b3b3;
    cursor: default;
    display: inline-block;
    float: none;
    text-transform: uppercase;
    padding: 0;
    margin: 1.5em 1em 1.5em;
    position: relative;
    z-index: 10;
  }

  .o-tabs .o-tabs__tab-title a {
    color: $dark-text-color;
    background-color: darken($secondary-bg-color, 10%);
    display: block;
    font-size: 0.875em;
    font-weight: bold;
    letter-spacing: 1px;
    height: auto;
    // line-height: 40px;
    // @include font-size(14px);
    padding: $global-spacing-unit-xs $global-spacing-unit;

    &:after {
      transition: top 200ms ease-in-out;
      content: '';
      height: 0px;
      width: 0px;
      position: absolute;
      top: 65%;
      left: 44%;
      border: 12px solid transparent;
      border-top-color: darken($secondary-bg-color, 10%);
      z-index: 1;
    }

    &:hover {
      transition: all 200ms ease-in-out;
      color: $dark-text-color;
      background-color: darken($secondary-bg-color, 15%);
    }

    &:hover:after {
      transition: all 200ms ease-in-out;
      top: 100%;
      border-top-color: darken($secondary-bg-color, 15%);
    }
  }

  .o-tabs .o-tabs__tab-title a:focus {
    font-weight: bold;
    color: #999;
  }

  .o-tabs .o-tabs__tab-title.active {
    border-top: none;
    margin-top: 1em;
  }

  .o-tabs .o-tabs__tab-title.active a {
    cursor: default;
    color: white;
    background-color: $dark-bg-color;
    border-left: none;
    border-right: none;
    font-weight: bold;

    &:after {
      top: 100%;
      border-top-color: $dark-bg-color;
    }
  }

  .o-tabs .o-tabs__tab-title:first-child {
    margin-left: 0;
  }

  @media only screen and (max-width: 767px) {
    .o-tabs {
      background-color: $main-bg-color;
      margin: 0 auto 2em;
      border: none;
    }

    .o-tabs .o-tabs__tab-title {
      width: 48%;
      margin: 0 0 0 0.5em;
      text-transform: none;
      text-align: center;

      a {
        @include font-size(14px);
        padding: $global-spacing-unit-sm 0.5em;
        letter-spacing: 0;
      }
    }
  }

  // WIP - Project image captions
  figcaption {
    @include font-size(13px, 18px);
    // font-weight: 600;
    margin-top: $global-spacing-unit-sm;
    padding-bottom: $global-spacing-unit-sm;
    // border-bottom: 1px solid #ececec;
  }
}
