/*----------------------------------*
  #LAZYLOAD
 *----------------------------------*/

/**
* Hooks for Lazyload JS
*/

// TODO should use `js-lazyload` but need to tweak JS source

.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
	opacity: 1;
    // transition: opacity 300ms;
    transition: opacity 1s;
}

// lazysizes

/* class name must matches the value of `ratio` setting. */
.lazysrcset-ratio {  
    position: relative;
}
.lazysrcset-ratio > img {
    display: block;    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.lazysrcset-ratio > img:after {
    display: block;
    width: 100%;
    height: 0;
    content: '';
}