/* 
 * Main Styles - Basic overrides to foundation.css
 *
 * TEMP work-in-progress (the cobbler has no shoes?)
 * 
 * This stylesheet does not represent my current CSS best-practices,
 * which are based on a BEM-like syntax using ITCSS architecture.
 * For more on the future of these styles, see: http://cssguidelin.es/
 * Or see the styles in http://www.saffo.com/ for an example of my standards.
 *
 */
@import "foundation";
@import "variables";

/* web fonts */

//@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

/* main styles */

body {
    background-color: $main-bg-color;
    background-color: $medium-bg-color;
    //font-family: Lato, sans-serif;
    //font-family: 'Noto Sans', sans-serif;
    //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: $text-font;
    color: $main-text-color;
}

a {
    color: $content-link;
}

// body,
// h3 {
//     font-weight: 300
// }

#logo a img {
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }
}

#content p {
    font-size: 1.25em;
    margin-bottom: 0.5em;
}

#content p a:not(.sidebar-button) {
    padding: 0 2px;
    transition: all .25s ease;

    &:visited {
        color: $dark-text-color;
    }

    &:hover,
    &:focus {
        //color:  $content-link;
        color: white;
        background-color: lighten($content-link, 10%);
        //background-color: lighten($main-text-color, 10%);
    }

    &:before,
    &:after {
        content: "";
        padding: 0 -2px;
    }

}

ul.circle li ul,
ul.disc li ul,
ul.square li ul {
    list-style: inherit
}

.case-caption a,
.contact-email,
.label.services a,
.side-nav li a {
    -ms-transition: all .25s ease
}

div.panel h5,
h2,
h3,
h4 {
    font-family: $display-font;
    //@include type-text;
}

h2 {
    font-weight: 600;
    font-size: 2em
}

#content h2 {
    margin-top: 1.5em;
}

h3 {
    font-size: 1.5em
}

div.panel h4,
.overview-main h4 {
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: -.015em;
    //@include type-display;
}

div.panel h5,
.overview-main h5 {
    font-weight: 700;
    font-size: 1.25em;
    font-family: $display-font;
    text-transform: none;
    //@include type-display;
}

.overview-main h5 {
    // font-weight: 700;
    // font-size: 1.25em;
    // font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    margin-top: 1.5em;
    color: $main-text-color;
}

.side-nav li,
figcaption,
p {
    font-family: $text-font;
    //@include type-text;
}

#topbar {
    margin: 0 0 30px
}

#heading {
    margin: 2px 0
}

h1#logo {
    margin: 0
}

div.imagebox div.orbit {
    margin-bottom: 0
}

figure {
    display: block;
    position: relative;
    overflow: hidden
}

.js #loader,
.loading,
figcaption {
    position: absolute
}

figcaption {
    font-weight: 400;
    font-size: .75em;
    background: #333;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    padding: 20px;
    width: 100%;
    opacity: 0;
    left: 0;
    bottom: -30%;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease
}

.case-caption a,
.contact-email,
.label.services a,
.side-nav li a {
    -o-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease
}

figure:hover figcaption {
    opacity: 1;
    bottom: 0
}

.project-thumb-grid .imagebox {
    margin-bottom: 1em;
}

.imagebox {
    display: block;
    margin: 0 0 2em;
    line-height: 0;
    -moz-box-shadow: -2px 3px 5px 0 #ccc;
    -webkit-box-shadow: -2px 3px 5px 0 #ccc;
    box-shadow: -2px 3px 5px 0 #ccc
}

.side-nav li,
p {
    line-height: 1.8em
}

.overview-main .imagebox {
    margin: 1.5em 0 2em
}

.overview-main h3 {
    margin-top: 1.5em;
    border-bottom: 1px solid #aaa;
    padding-bottom: .5em
}

.label.services a,
ul.services a {
    color: #999 !important;
    border-bottom: dotted 1px #999;
}

.overview-main h4 {
    margin-top: 1.5em;
    margin-bottom: .5em
}

#content p a.to-top {
    font-size: 0.8em;
    font-weight: bold;
    color: $cjd-branding;

    &:before {
        content: "↑";
        margin-right: 0.25em;
    }

    &:visited {
        color: $cjd-branding;
    }

    &:hover,
    &:focus {
        color: white;
        background-color: $cjd-branding;
    }
}

.overview-content li {
    font-size: 1.25em;
    margin-left: 2em;
}

.overview-sidebar li {
    font-size: 1em;
    margin-left: 0;
}

#content p.case-caption {
    margin-top: -1em;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 2.5em;

    span.hide-for-small {
        display: inline !important;
    }
}

@media only screen and (max-width: 480px) {
    #content p.case-caption span.hide-for-small {
        display: none !important;
    }
}

#content p.case-caption-video {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 2.5em;

    @media only screen and (min-width: 768px) {
        margin-top: -0.75em;
    }
}

#content p.case-caption-video+p {
    margin-top: -1.75em;
}

.side-nav li,
p {
    font-size: 1.1em
}

p.intro,
p.tagline {
    margin: 1.5em 0 3px
}

#content p.case-caption a {
    font-weight: 400;
    color: $content-link;
    transition: all .25s ease;

    &:visited {
        color: $dark-text-color;
    }

    &:hover {
        color: #fff;
    }
}

a:hover {
    color: $content-link;
}

p {
    font-weight: 400;
}

p.tagline {
    font-weight: 700
}

.side-nav li {
    color: #777;
    font-weight: 700;
    position: relative;
}

ul.side-nav li a {
    color: #777;
    font-weight: 400;
    //transition: all .25s ease;
    position: relative;
    display: inline-block;
}

.side-nav li a:hover,
ul.side-nav li.active a {
    color: #000;
    font-weight: 400 !important;
    transition: all .25s ease;
}

@media only screen and (min-width: 768px) {
    .side-nav li:not(.active) {
        a {
            &:after {
                content: "";
                margin: 0 auto;
                position: absolute;
                opacity: 0;
                bottom: 0.125em;
                left: 50%;
                right: 50%;
                transition: left 250ms ease-in-out, right 250ms ease-in-out;
                margin-top: 0.25em;
                border-bottom: 2px solid lighten($cjd-branding, 25%);
            }

            &:hover:after {
                left: 0;
                right: 0;
                opacity: 1;
            }
        }
    }
}

ul.side-nav {
    padding: 18px 0 0
}

ul.side-nav.topnav {
    padding: 15px 0 0
}

ul.side-nav li {
    margin: 0
}

ul.side-nav li.nav-list-title {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #bdbdbd;
}

.overview-sidebar .panel {
    background: #F2F2F2;
    border: 1px solid #E6E6E6;
    margin: 5px 0 22px;
    //padding: 20px;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

.panel {
    background: #F2F2F2;
    border: 1px solid #E6E6E6;
    margin: 1.5em 0 1.5em;
    padding: 1em 1.5em 0.5em;
}

ol.services,
ul.services {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 3px;
    list-style-position: outside;
    margin-left: 17px
}

ul.services>ol,
ul.services>ul {
    margin-left: 17px;
    margin-bottom: 0 !important;
    list-style-position: outside
}

ul.services>ul ul {
    margin-bottom: 0
}

ul li ol,
ul li ul {
    margin-left: 20px;
    margin-bottom: 0
}

ul.circle,
ul.disc,
ul.square {
    margin-left: 17px
}

ul.square {
    list-style-type: square
}

ul.circle {
    list-style-type: circle
}

ul.disc {
    list-style-type: disc
}

ul.no-bullet {
    list-style: none
}

ul.large li {
    line-height: 21px
}

ol li ol,
ol li ul {
    margin-left: 20px;
    margin-bottom: 0
}

.label.services {
    display: inline-block;
    margin-top: 17px;
    padding: 4px;
    font-family: inherit;
    background-color: #fafafa;
    color: #999
}

ul.services a {
    font-weight: 400
}

.label.services a {
    transition: all .25s ease
}

.label.services a:hover {
    color: #333 !important;
    border-bottom: dotted 1px #333;
}

.contact-button {
    margin: 3em 0
}

.contact-email {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    padding: 1em 1.25em;
    background-color: #999;
    -border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    transition: all .25s ease
}

.contact-email:hover {
    color: #fff;
    background-color: #333;
}

.contact-email:focus {
    color: #fff;
    background-color: $content-link;
}

#pagetop {
    //@media only screen and (min-width: 768px) {
    //height: 1em;
    //background-color: lighten($cjd-branding, 30%);
    //display: block;
    //}
}

#pagebottom {
    padding-top: 3em;
    padding-bottom: 3em;
}

p.copyright {
    font-size: .9em;
    color: #999;
    margin-bottom: 0;
    max-width: 120ch;
}

p.copyright a {
    color: #999;
    font-weight: 400
}

p.copyright a:hover {
    color: #000;
    font-weight: 400 !important
}

a.codedirection {
    unicode-bidi: bidi-override;
    direction: rtl
}

.no-js #loader {
    display: none
}

.js #loader {
    z-index: 666999;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: -10px;
    background-color: #fafafa
}

.loading {
    left: 47.5%;
    top: 180px
}

@media (max-width:480px) {
    p.intro {
        font-size: 1.25em !important
    }

    ul.side-nav li {
        font-size: 1.125em !important;
    }

    p.tagline {
        font-size: 1em !important;
    }

    .contact-email {
        display: block;
        width: 100% !important
    }

    .contact-button {
        text-align: center;
        margin: 0 0 1.5em
    }

    ul.side-nav li.nav-list-title {
        // fold into fixed setup
        font-size: 14px !important;
    }
}

@media (max-width:767px) {

    //.side-nav li,
    //p.intro,
    p.tagline {
        font-size: .75em
    }

    p.intro {
        margin: 1.5em 0
    }

    #topbar {
        margin: 0 0 5px
    }

    .overview {
        display: table
    }

    .overview-main {}

    .overview-sidebar {
        //display: table-footer-group //float: right;
    }

    .overview-content {
        //display: table-header-group
    }
}

@media only screen and (min-width:768px) {
    #branding {
        width: 86%
    }

    p.intro {
        padding-right: 2em
    }

    li.nav-list-title {
        padding-top: 1.5em
    }

    li.nav-list-title:first-child {
        padding-top: 0
    }

    .overview {
        position: relative
    }

    .overview-sidebar {
        float: right;
        width: 45%;
        width: auto;
        padding-left: 2em
    }
}

@media screen and (max-width:767px)and (min-width:480px) {
    #branding {
        margin-top: -12px
    }
}

.four,
.row .four {
    width: 33%
}

.eight,
.row .eight {
    width: 67%
}

#page {
    padding-top: 3em;
    padding-bottom: 3em;
}

#content {
    padding-top: .5em
}

a.close-panel,
a.open-panel {
    display: none
}

@media only screen and (max-width:767px) {

    .icon-2x,
    a.close-panel {
        font-size: 1.25em
    }

    #page {
        padding-top: 0
    }

    #content {
        min-height: 50em
    }

    #branding {
        margin: 2em 0 1em
    }

    h1#logo {
        display: inline-block;
        width: 70%
    }

    .four.columns {
        position: inherit
    }

    nav {
        //width: 70%;
        //left: -70%;
        width: $navwidth;
        left: -$navwidth;
        position: absolute;
        top: 0;
        height: 100%;
        //background: #777;
        background: $dark-brand-bg;
        z-index: 1000
    }

    ul.side-nav {
        width: 100%;
        padding: 0;
        margin-top: 6em;
        //border-top: 1px solid #888
        //border-top: 1px solid darken($dark-brand-bg, 10);
    }

    ul.side-nav li {
        font-size: 1.25em;
        font-weight: 300;
        display: block;
        float: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: .5em 1.5em;
        list-style-type: none;
        text-align: left;
        color: #fff;
        //border-bottom: 1px solid #888;
        //background: #777;
        //background: darken($dark-brand-bg, 5);
    }

    a.close-panel,
    a.open-panel {
        display: inline;
        float: right
    }

    ul.side-nav li:hover {
        //background: #888;
        background: darken($dark-brand-bg, 5);
    }

    ul.side-nav li.nav-list-title:hover {
        //background: 0 0;
    }

    ul.side-nav li a {
        font-weight: 400;
        //color: #fff;
        color: lighten($content-link, 30);
    }

    ul.side-nav li a:hover,
    ul.side-nav li.active a {
        color: #fff;
    }

    a.close-panel {
        color: #FFF;
        position: relative;
        top: 2em;
        right: 1.5em
    }

    a.open-panel {
        margin-top: 6px;
        position: relative;
        color: #777
    }

    a.open-panel span {
        position: absolute;
        // top: -2px;
        left: -1.5em;
    }

    .openNav #page {
        left: 0;
        -webkit-transform: translate3d($navwidth, 0, 0);
        -moz-transform: translate3d($navwidth, 0, 0);
        -ms-transform: translate3d($navwidth, 0, 0);
        -o-transform: translate3d($navwidth, 0, 0);
        transform: translate3d($navwidth, 0, 0);
        transition: transform 500ms ease
    }

    #page,
    .openNav #page {
        -o-transition: -o-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -webkit-transition: -webkit-transform 500ms ease
    }

    #page {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition: transform 500ms ease
    }
}

.reveal-modal img {
    margin: 2em 0;
}

.modal-img-border img {
    border: 1px solid #666;
}

// .close-reveal-modal {
//     text-shadow: none;
//     font-size: 1.5rem;
//     &:after {
//         content: '\e039';
//     }
// }
.video-wrapper {
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    margin-bottom: 2em;

    @media only screen and (min-width: 768px) {
        position: relative;
        padding-top: 21px;
    }
}

.video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;

    @media only screen and (min-width: 768px) {
        top: 0;
        left: 0;
    }

    @media only screen and (max-width:767px) {
        width: 92%;
        left: 4%;
        height: 54.25vw;
        margin-bottom: 2em;
    }
}

// Tabs
.tabs {
    //background-color: $secondary-bg-color;
    border-bottom: none;
    height: auto;
    //text-align: center;
    width: 100%;
    margin: 1em auto;
}

.tabs li.tab-title {
    color: #b3b3b3;
    cursor: default;
    display: inline-block;
    float: none;
    //font-size: 1em;
    //height: 40px;
    //line-height: 40px;
    //padding: 0 9px 0 20px;
    //width: 220px;
    text-transform: uppercase;
    // background-color: darken($secondary-bg-color, 5%);
    //border-bottom: solid 1px #e6e6e6;
    //float: left;
    padding: 0;
    // margin: 1em 1em 2em;
    margin: 1.5em 1em 1.5em;
    position: relative;
}

.tabs li.tab-title a {
    color: #6f6f6f;
    //color: $light-text-color;
    background-color: darken($secondary-bg-color, 10%);
    //background-color: lighten($content-link, 10%);
    display: block;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    height: auto;
    line-height: 40px;

    //padding: 0 2em;
    // &:hover {
    //     font-weight: bold;
    // }
    &:after {
        -webkit-transition: top 100ms ease-in-out;
        -moz-transition: top 100ms ease-in-out;
        -o-transition: top 100ms ease-in-out;
        transition: top 100ms ease-in-out;
        content: "";
        height: 0px;
        width: 0px;
        position: absolute;
        top: 65%;
        left: 44%;
        //left: calc(50% - #{$arrow-size});
        // border-left: $arrow-size solid transparent;
        // border-right: $arrow-size solid transparent;
        // border-top: $arrow-size solid #fff;
        border: $arrow-size solid transparent;
        border-top-color: darken($secondary-bg-color, 10%);
        //border-top-color: lighten($content-link, 10%);
        //z-index: 10;
    }

    &:hover {
        color: $dark-text-color;
    }

    &:hover:after {
        top: 100%
    }
}

.tabs li.tab-title a:focus {
    font-weight: bold;
    color: #999;
    //color: $main-bg-color;
}

.tabs li.tab-title.active {
    //background-color: $dark-bg-color;
    //border-bottom: solid 1px $main-bg-color;
    border-top: none;
    margin-top: 1em;
}

.tabs li.tab-title.active a {
    cursor: default;
    color: $light-text-color;
    background-color: $dark-bg-color;
    border-left: none;
    border-right: none;
    font-weight: bold;

    &:after {
        // content: "";
        // height: 0px;
        // width: 0px;
        // position: absolute;
        top: 100%;
        // left: calc(50% - #{$arrow-size});
        border-top-color: $dark-bg-color;
        // border-left: $arrow-size solid transparent;
        // border-right: $arrow-size solid transparent;
        // border-top: $arrow-size solid #fff;
        // z-index: 10;
    }
}

.tabs li.tab-title:first-child {
    margin-left: 0;
}

@media only screen and (max-width: 767px) {
    .tabs {
        background-color: $main-bg-color;
        margin: 0 auto 2em;
        border: none;
    }

    .tabs li.tab-title {
        width: 48%;
        margin: 0 0 0 0.5em;
        text-transform: none;
        text-align: center;

        a {
            font-size: 1em;
            padding: 0 0.5em;
            letter-spacing: 0;
        }
    }
}

.tabs-content {
    display: block;
    margin: 0 0 20px;
    padding: 0;
}

.tabs-content>li {
    display: none;
}

.tabs-content>li.active {
    display: block;
}

.no-js .tabs-content>li {
    display: block;
}

// Sidebar button
.sidebar-button {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    //padding: 1em 1.25em;
    line-height: 1.6;
    margin: 1.5em 0 0;
    padding: 0.25em 0.75em 0.33em;
    background-color: #999;
    -border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    transition: all .25s ease;

    @media only screen and (max-width: 767px) {
        //padding: 0.5em 0.75em;
    }
}

.sidebar-button:hover {
    color: #fff;
    background-color: #333
}

.sidebar-button:focus {
    color: #fff;
    background-color: #333
}

.page-wrapper {
    background-color: $main-bg-color;
}

.activities-label {
    font-size: 0.825em;
    text-transform: uppercase;
    //letter-spacing: 1px;
}

.bottom-tab-nav-next,
.bottom-tab-nav-prev {
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.25em;
}

.bottom-tab-nav-next a:focus,
.bottom-tab-nav-prev a:focus {
    color: $content-link;
}

.bottom-tab-nav-next {
    @media only screen and (min-width: 768px) {
        display: inline-block;
        float: right;
    }

    text-align: right;
}

.bottom-tab-nav-next>a {
    &:after {
        //content: "→" !important;
        //margin-right: 0.25em;
    }
}

.bottom-tab-nav-prev {
    @media only screen and (min-width: 768px) {
        display: inline-block;
        float: left;
    }

    text-align: left;
}

.bottom-tab-nav-prev>a {
    &:before {
        //content: "←" !important;
        //margin-left: 0.25em;
    }
}


#branding h1 {
    max-width: 241px;
}


@media only screen and (min-width: 768px) {

    // fixed sidebar idea
    // .sidebar-container {
    //     position: fixed;
    //     width: 280px;
    //     max-width: 33%;
    // }
    #branding {
        width: 241px;
    }
}

// widescreen layout
@media only screen and (min-width: 1024px) {
    .row {
        width: 1280px;
        max-width: 92%;
    }

    .four.columns.sidebar {
        width: 30%;
        position: relative;
        display: block;
    }

    // fixed sidebar idea
    // .sidebar-container {
    //     position: fixed;
    //     width: 375px;
    //     max-width: 27.5%;
    // }
    p.intro {}

    #branding {
        width: 241px;
    }

    #content p {
        //font-size: 1.5em;;
    }

    .overview {
        max-width: 600px;
    }

    figcaption {
        font-weight: 400;
        font-size: .875em; //.75em
        background: rgba(0, 0, 0, 0.875);
        //background: $dark-brand-bg;
        //background: $dark-bg-color;
        color: #fff;
        padding: 20px;
        width: 100%;
        opacity: 0;
        left: 0;
        bottom: -30%;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        -o-transition: all .6s ease;
    }

    #content .twelve.columns>h2,
    #content .twelve.columns>p,
    #content .twelve.columns>p+p {
        max-width: 600px;
    }
}

@media only screen and (min-width: 768px) {
    .page-wrapper {
        min-height: 85vh;
    }
}

.svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;

    svg {
        fill: currentColor;
        width: 1em;
        height: 1em;
    }
}