/*----------------------------------*
  #BUTTONS
 *----------------------------------*/

/**
 * Buttons
 */

 // WIP


// Sidebar button
.sidebar-button {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    //padding: 1em 1.25em;
    line-height: 1.6;
    margin: 1.5em 0 0;
    padding: 0.25em 0.75em 0.33em;
    background-color: $slate-gray;
    -border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    transition: all .25s ease;
    width: 100%;
    text-align: center;

    @media only screen and (max-width: 767px) {
        //padding: 0.5em 0.75em;
    }
}

.sidebar-button:hover {
    color: #fff;
    background-color: #333
}

.sidebar-button:focus {
    color: #fff;
    background-color: #333
}