/*----------------------------------*
  #FOOTER
 *----------------------------------*/

/**
* Standard footer
*/

.c-footer {
  background-color: $slate-gray;
  padding: $global-spacing-unit;
  margin-top: $global-spacing-unit-lg; // intentionally breaking the margin-bottom only rule for convenience right now
}

.c-footer__body {
  @include font-size(12px, 18px);
  color: #999;
  color: $light-text-color;
  max-width: 92%; // matches o-wrapper, consider using that in page layout inside 0-layout?
  margin: auto;
  a {
    color: #999;
    color: $light-text-color;
    &:hover {
      color: #000;
      color: #fff;
    }
  }
}