/*----------------------------------*
  #INTRO
 *----------------------------------*/

 /**
 * Intro block in sidebar (header)
 */

 .c-intro {
  line-height: round($global-line-height * 1.33); // WIP
  padding-right: $global-spacing-unit-lg;

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    padding-right: $global-spacing-unit;
    @include font-size(14px, ($global-line-height * 1.125));
  }

}