/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body { background-color: #fafafa; font-family: 'Lato', sans-serif; font-weight: 400; color: #777; }

#topbar {margin: 0 0 30px 0;}

#branding { margin: 2px 0; }

h1#logo { margin: 0;}

#content { }

/*START sliding captions*/

figure { display: block; position: relative; overflow: hidden; }

figcaption {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .75em;
    position: absolute;
    background: #333;
    background: rgba(0,0,0,0.75);
    color: white;
    padding: 20px 20px;
    width: 100%;
    opacity: 0;
    left: 0;
    bottom: -30%;
    -webkit-transition: all 0.6s ease;
    -moz-transition:    all 0.6s ease;
    -o-transition:      all 0.6s ease;   
}

figure:hover figcaption { opacity: 1; bottom: 0; }

/*figure:before { 
  content: "?"; 
  position: absolute;
  bottom: 10px; left: 10px;
  background: rgba(255,255,255,0.75); 
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  opacity: 0.75;	
}

figure:hover:before {
  opacity: 0;
}*/

/*END sliding captions*/


.imagebox {
    display: block;
    margin: 0 0 2em 0;
    border:1px solid #ccc;
    line-height: 0;
    -moz-box-shadow:    -2px 3px 5px 0px #ccc;
    -webkit-box-shadow: -2px 3px 5px 0px #ccc;
    box-shadow:         -2px 3px 5px 0px #ccc;
}


a { color: #000;
    /*color: #ce222b;*/ 
}

a:hover { color: #000;
    /*background-color: #d1cfcb;*/
}



/*p { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1em; line-height: 1.8em; }*/

/*p.intro { margin: 1.5em 0 3px 0; }*/

p.tagline { font-weight: 400; margin: 1.5em 0 3px 0; }

/*.side-nav li { font-family: 'Lato', sans-serif; color: #777; font-weight: 300; font-size: 1em; line-height: 1.8em; }*/

.side-nav li a { color: #777; font-weight: 400;
    /*padding-left: 3px;*/
    -ms-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

p { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1em; line-height: 1.8em; -webkit-font-smoothing: subpixel-antialiased;}
.side-nav li { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #777; font-weight: normal; font-size: 1em; line-height: 1.8em; -webkit-font-smoothing: subpixel-antialiased;}
p.intro { font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif; font-size: 1em; line-height: 1.8em; -webkit-font-smoothing: subpixel-antialiased;margin: 1.5em 0 3px 0; }

ul.side-nav li.active a, .side-nav li a:hover { color: #000; font-weight: 400 !important; }

ul.side-nav { padding: 18px 0 0 0; }

ul.side-nav.topnav { padding: 15px 0 0 0; }

ul.side-nav li { margin: 0px; }

/*Contact Button*/

.contact-button { margin: 3em 0 3em 0; }

.contact-email {
    color: #ffffff;
    font-size: 1em;
    padding: 1em 1.25em;
    background-color: #ccc;
    -border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    -ms-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.contact-email:hover { color: #ffffff; background-color: #999; }

/*End Contact Button*/

/* -----------------------------------------
   Page Bottom
----------------------------------------- */

#pagebottom {
    /*background-color: #333;*/
    margin-top: 44px;
    padding: 14px 0;
}

#copyright p { font-size: .75em; color: #777;}
#copyright p a { color: #777; font-weight: 400; }
#copyright p a:hover { color: #000; font-weight: 400 !important; }

/*A little jack to keep footer background to bottom on portrait tablets*/
/*@media screen and (orientation: portrait) and (max-width: 768px) and (min-width: 480px) { #pagebottom { height: 300px; } } */

/*Keep for dark footer TBD*/
/*#copyright p { font-size: .75em; color: #FAFAFA;}
#copyright p a { color: #999; }
#copyright p a:hover { color: #FAFAFA; }*/


/* -----------------------------------------
   Dropdown
----------------------------------------- */

    nav {
      display: block;
    }
    
    nav li, nav a {
      display: inline-block;
    }
    
    nav select {
      display: none;
    }
    
    @media (max-width: 767px) {
      nav ul.side-nav     { display: none; }
      
      nav select {
        /*essential*/
        margin-top: 1.75em;
        display: inline-block;
        font-size: .95em;
        font-family: 'Lato', sans-serif;
        height: 1.65em;
        
        /*optional*/
        /*float: right;
        width: 64%;
        background: none;
        background-color: #ccc;
        background-image: url();
        border: none;
        padding: 12px;
        height: 3.25em;
        margin-top: 2.125em;
        color: #fff;
        font-weight: 400;
        -border-radius: 9px;
        -moz-border-radius: 9px;
        -webkit-border-radius: 9px;
        border-radius: 9px;*/
        }

        /*You need to add -webkit-appearance: none; and a height value for Chrome and Safari.*/
    }


/* -----------------------------------------
   Type
----------------------------------------- */

/*@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../type/bebas-neue/BebasNeue-webfont.eot');
    src: url('../type/bebas-neue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/bebas-neue/BebasNeue-webfont.woff') format('woff'),
         url('../type/bebas-neue/BebasNeue-webfont.ttf') format('truetype'),
         url('../type/bebas-neue/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/



/* -----------------------------------------
   Loader
----------------------------------------- */

.no-js #loader { display: none;  }
/*.js #loader { z-index: 666999; width: 100%; height: 100%; display: block; position: absolute; left: 0; top: 0; background: url('../images/ajax-loader.gif') #fafafa center no-repeat;}*/
.js #loader { z-index: 666999; width: 100%; height: 100%; display: block; position: absolute; left: 0; top: -10px; background-color: #fafafa;}
.loading { position: absolute; left: 47.5%; top: 33%; }


/* -----------------------------------------
   Mobile & Tablet Adjustments
----------------------------------------- */


@media (max-width: 480px) {
    p.tagline, p.intro, .side-nav li {font-size: 1em !important;}
    .contact-email {display: block; width: 100% !important;}
}

@media (max-width: 768px) {
    p.tagline, p.intro, .side-nav li {font-size: .75em;}
    #topbar {margin: 0 0 5px 0;}
}

@media only screen and (min-width: 768px) {
    #branding {width: 80%;}
    p.intro {padding-right: 2em;}
}

/*Temporary hack to keep logo aligning with images on tablets*/
@media screen and (max-width: 768px) and (min-width: 480px) { #branding { margin-top: -12px; } }
